$font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
$font-size: 15px;

$item-padding-h: 13px;
$item-padding-v: 18px;

$item-height: $font-size + (2 * $item-padding-v);

$submenu-width: 200px;
