@mixin wrap {
    &.menu {
        &__wrapped {
            display: flex !important;
            flex-direction: column;
            flex-wrap: wrap;

            @for $i from 2 through 4 {
                &--columns-#{$i} {
                    width: $i * 100% !important;
                }
            }

            @for $i from 1 through 10 {
                &--items-#{$i} {
                    max-height: $i * 54px !important;
                }
            }
        }
    }
}
