.editbar {
    width: 100%;
    position: relative;
    z-index: 999;
    font-size: $font-size;

    > .inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: 20px 30px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);

        width: 100%;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: $font-size;
    }

    .actions {
        font-family: $font-family;
        font-weight: 100;

        p {
            margin: 0;
        }
    }

    .version {
        margin-left: auto;

        font-size: .8em;
        text-align: right;
    }
}
