<div class="editbar is-light" data-editbar>
    <div class="editbar__container">
        <a class="editbar__logo" href="{{ path('<front>') }}">
            <img class="editbar__logo-img" src="{{ logo }}">
        </a>
        {{ links }}
    </div>
</div>
