<div class="editbar light" data-editbar>
    <button class="editbar__toggle" data-editbar-toggle>open</button>
    <div class="editbar__container">
        <a class="editbar__logo" href="{{ path('<front>') }}">
            <img class="editbar__logo-img" src="{{ logo }}">
        </a>
        {{ links }}
    </div>
</div>
