<div class="editbar light">
    <div class="inner">
        <div class="top">
            <a class="logo" href="{{ path('<front>') }}">
                <img src="{{ logo }}">
            </a>
            {{ links }}
        </div>
    </div>
</div>
